# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt intermediate files
Makefile
*.Debug
*.Release
.qmake.stash
QXlsx/debug/*
QXlsx/release/*
*.-1
build-QXlsx-Desktop_Qt_5_10_1_MinGW_32bit-Debug/
build-TestExcel-Desktop_Qt_5_10_1_MinGW_32bit-Debug/
build-QXlsx-Desktop_Qt_5_10_1_MinGW_32bit-Release/
build-TestExcel-Desktop_Qt_5_10_1_MinGW_32bit-Release/

# visual studio
*.pdb
*.filters
*.user
*.props







