name: Windows

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-node@v1
        with:
          node-version: '10.x'

      - name: "npm ci"
        run: npm ci

      - name: "npm run build"
        run: npm run build

      - name: Install Qt
        uses: ./
        with:
          modules: qtcharts qtwebengine

      - name: Configure test project on windows
        if: startsWith(matrix.os, 'windows')
        run: |
          cd tests/TestWithModules
          call "%programfiles(x86)%\Microsoft Visual Studio\2019\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          dir %Qt5_Dir%/lib/cmake
          qmake
        shell: cmd
          
      - name: Configure test project on unix
        if: (!startsWith(matrix.os, 'windows'))
        run: |
          cd tests/TestWithModules
          ls $Qt5_Dir/lib/cmake
          qmake
        shell: bash
